body {
    margin: 0;
    scroll-snap-type: y mandatory; 
    overflow-y: scroll;
}


#bodytext {
    font-family: "kepler-std-condensed-subhead", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

#menu {
    margin-top: 85px;
    font-family: new-science-mono, sans-serif;
    font-weight: 100;
    font-style: normal;
    rotate: -90deg;
}
.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "kepler-std-condensed-subhead", serif;
    font-weight: 300;
    font-size: 25px;
    color: #333;
    z-index: 5;
    text-align: center;
}
.sidebar-wrapper {
    display: flex;
    justify-content: space-between;
    height: 110vh;
}

#sidebarleft, #sidebarright {
    border: solid black 1px;
    background-color: rgb(252, 99, 4);
    width: 60px;
    height: 110vh;
    transition: background-color 0.3s ease;
}

#sidebarleft {
    position: fixed;
    left: 0;
    top: -10px;
}

#sidebarright {
    position: fixed;
    right: 0;
    top: -10px;
}

#sidebarleft:hover, #sidebarright:hover,
#sidebarleft:hover ~ #sidebarright, #sidebarright:hover ~ #sidebarleft {
    background-color: white;
    color: orangered;
    font-weight: 400;
}

#sidebarleft:hover + #menu, #sidebarright:hover + #menu {
    color: orangered;
    font-weight: 400;
}

.image-wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;            
    scroll-snap-type: y mandatory; 
}


.image-container {
    scroll-snap-align: start;      
    scroll-snap-stop: always;       
    height: 100vh;                 
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    box-shadow: 0 4px 10px rgb(20, 8, 1);
}

.visible {
    opacity: 1;
}


/* Style for the sliding content */
#slideContent {
    position: fixed;
    top: 0;
    right: -100vw;  /* Initially hide the content */
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
    overflow-y: auto;
    transition: right 0.5s ease;
    padding: 20px;
}

#slideButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
}

#slideButton:hover {
    background-color: orangered;
}